.modal-overlay {

  position: fixed;

  inset: 0;

  background: rgba(0,0,0,0.7);

  display: flex;

  align-items: center;

  justify-content: center;

  z-index: 9999;

  backdrop-filter: blur(8px);

}


.edit-modal {

  width: 500px;

  background: #0f172a;

  border-radius: 24px;

  padding: 30px;

  border: 1px solid rgba(0,255,255,0.1);

  box-shadow:
    0 0 40px rgba(0,216,255,0.08);

}


.edit-modal h2 {

  color: white;

  margin-bottom: 25px;

  font-size: 30px;

}


.edit-modal form {

  display: flex;

  flex-direction: column;

  gap: 18px;

}


.edit-modal input,
.edit-modal textarea,
.edit-modal select {

  width: 100%;

  padding: 16px;

  border: none;

  outline: none;

  border-radius: 14px;

  background: #18233b;

  color: white;

  font-size: 15px;

}


.edit-modal textarea {

  resize: none;

}


.modal-buttons {

  display: flex;

  gap: 15px;

  margin-top: 10px;

}


.save-btn,
.cancel-btn {

  flex: 1;

  border: none;

  padding: 16px;

  border-radius: 14px;

  font-size: 15px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;

}


.save-btn {

  background: linear-gradient(
    135deg,
    #00d8ff,
    #0066ff
  );

  color: white;

}


.save-btn:hover {

  transform:
    translateY(-3px);

}


.cancel-btn {

  background: #1e293b;

  color: white;

}


.cancel-btn:hover {

  background: #334155;

}